body { margin-bottom: 50px }
a { font-family: "Open Sans", sans-serif }
.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px;
}

/* Navigation */
.main-nav {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;
}
.group.top-nav { margin-bottom: -20px }
.group.top-nav nav a { text-decoration: none }
.group.top-nav nav a:hover { 
	color: #FF6C40; -webkit-transition: all .25s ease-in-out;
   -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; 
}